#Django Framework
django~=5.0

#For Gemini API
google-generativeai
google
google.genai

python-dotenv

django-environ

#For Markdown to HTML conversion
markdown

#For serving static files in production with Gunicorn
whitenoise

#WSGI HTTP Server for production
gunicorn

#(Optional) For PDF Generation
#weasyprint